<!-- One -->
<section id="one">
	<div class="image main" data-position="center">
		<img src="images/banner.jpg" alt="" />
	</div>
	<div class="container">
		<header class="major">
			<h2>Detalles de turismo</h2>
		</header>
		<!--<p>병원 정보입니다. 검색이 추가될 예정 입니다. 병원 상세 페이지 예정 입니다.</p>-->
	</div>
</section>


<!-- Five -->

<section id="five">



	<div class="container">

		<h3>{tourSp_500_title}</h3>

		<section>
			<h4>Plantilla:Ficha de base</h4>
			<!--							<h5>Default</h5>-->
			<div class="table-wrapper">
				<table>
					<tbody>

					<tr>
						<td>Imágenes</td>
						<td><img src="{tour_image}"></td>
					</tr>

					<tr>
						<td>introducción</td>
						<td>{tourSp_500_detailCommon_overview}</td>
					</tr>

					<!--

										<tr>
											<td>연락처</td>
											<td><a href="tel:{tourSp_500_tel}">{tourSp_500_tel}</a></td>
										</tr>

					-->

					<tr>
						<td>mapa</td>
						<td><a href="{go_url_naver_map}" target="_blank" class="button primary small">Ver mapas de Naver</a></td>
					</tr>

					<tr>
						<td>En la dirección.</td>
						<td>{tourSp_500_addr1}</td>
					</tr>


					</tbody>

				</table>
			</div>

		</section>



		<a href="{url_go_list}" class="button small">Lista de personas</a>

	</div>
</section>

