<!-- One -->
<section id="one">
	<div class="image main" data-position="center">
		<img src="images/banner.jpg" alt="" />
	</div>
	<div class="container">
		<header class="major">
			<h2>観光詳細情報</h2>
		</header>
		<!--<p>병원 정보입니다. 검색이 추가될 예정 입니다. 병원 상세 페이지 예정 입니다.</p>-->
	</div>
</section>


<!-- Five -->

<section id="five">



	<div class="container">

		<h3>{tourJp_400_title}</h3>

		<section>
			<h4>基本情報</h4>
			<!--							<h5>Default</h5>-->
			<div class="table-wrapper">
				<table>
					<tbody>

					<tr>
						<td>イメージ.</td>
						<td><img src="{tour_image}"></td>
					</tr>




					<tr>
						<td>連絡所</td>
						<td><a href="tel:{tourJp_400_tel}">{tourJp_400_tel}</a></td>
					</tr>


					<tr>
						<td>指導</td>
						<td><a href="{go_url_naver_map}" target="_blank" class="button primary small">ネイバー地図を見る</a></td>
					</tr>

					<tr>
						<td>住所, 居所.</td>
						<td>{tourJp_400_addr1}</td>
					</tr>


					</tbody>

				</table>
			</div>

		</section>



		<a href="{url_go_list}" class="button small">目録, カタログ, リスト.</a>

	</div>
</section>

