<!DOCTYPE html>
<html>
<base href="/USER/application/views/">
<head>
	<title>ZEST LORE</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="css/zestlore.css" />

	<script src="assets/js/jquery.min.js"></script>
</head>
<body class="is-preload">


<!-- Header -->
<section id="header">
	{widget_top}

</section>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
	<div id="main">

		{widget_contents}

	</div>

	<!-- Footer -->
	<section id="footer">
		{widget_bottom}
	</section>

</div>

<!-- Scripts -->

<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
