<section id="header">
<header>
	<span class="image avatar"><img src="images/avatar.jpg" alt="" /></span>
	<h1 id="logo"><a >ZEST LORE</a></h1>
	<p>뭘해야 할지 몰라서 <br />
		일단 할수있는걸 해보는 사이트</p>
</header>
<nav id="nav">
	<ul>
		<li><a href="{url_go_top_hospital}" class="btn_go_menu {HOSPITAL_INFO_ACTIVE}" data-url="url_go_top_hospital">병원 정보</a></li>
		<li><a href="{url_go_top_tour}" class="btn_go_menu {TOUR_INFO_ACTIVE}" data-url="url_go_top_tour">관광 정보</a></li>
		<li><a href="{url_go_top_tourEn}" class="btn_go_menu {TOUREN_INFO_ACTIVE}" data-url="url_go_top_tourEn">Tourist Information</a></li>
		<li><a href="{url_go_top_tourJp}" class="btn_go_menu {TOURJP_INFO_ACTIVE}" data-url="url_go_top_tourJp">観光情報</a></li>
		<li><a href="{url_go_top_tourSp}" class="btn_go_menu {TOURSP_INFO_ACTIVE}" data-url="url_go_top_tourSp">Plantilla:Ficha de turismo</a></li>
	</ul>
</nav>
<footer>
<!--	<ul class="icons">
		<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
		<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
	</ul>-->
</footer>
</section>
