<section id="header">
<header>
	<span class="image avatar"><img src="images/avatar.jpg" alt="" /></span>
	<h1 id="logo"><a >ZEST LORE</a></h1>
	<p>뭘해야 할지 몰라서 <br />
		일단 할수있는걸 해보는...</p>
</header>
<nav id="nav">
	<ul>
		<li><a href="/USER/index.php/Hospital_default/hospital_list" class="active">병원 정보</a></li>
	</ul>
</nav>
<footer>
<!--	<ul class="icons">
		<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
		<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
	</ul>-->
</footer>
</section>
