<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Target Table Name  : {tblName}
        <small><!--  --></small>
    </h1>
    <ol class="breadcrumb">
        <li><a  ><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ><i class="fa fa-dashboard"></i> 개발_참고자료</a></li>
        <li><a ><i class="fa fa-dashboard"></i> Code_assist_01</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box box-primary">

        <div class="box-body">
            <input type="hidden" class="form-control" id="corp01_pk" name="corp01_pk" value="{corp01_pk}"/>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> base_field</th>
				</tr>
				<tr>
					<td>{base_field}</td>
				</tr>
				</tbody>
			</table>

			<br>

            <table class="yym_tbl" style="table-layout: fixed;">
                <tbody>
                <tr>
                    <th> jsCode_get_ajax_params</th>
                </tr>
                <tr>
                    <td>{jsCode_get_ajax_params}</td>
                </tr>
                </tbody>
            </table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> jsCode_get_ajax_params_radio</th>
				</tr>
				<tr>
					<td>{jsCode_get_ajax_params_radio}</td>
				</tr>
				</tbody>
			</table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> jsCode_set_ajax_params</th>
				</tr>
				<tr>
					<td>{jsCode_set_ajax_params}</td>
				</tr>
				</tbody>
			</table>

			<br>

            <table class="yym_tbl" style="table-layout: fixed;">
                <tbody>
                <tr>
                    <th> phpCode_arr_VARIABLE_DATA</th>
                </tr>
                <tr>
                    <td>{phpCode_arr_VARIABLE_DATA}</td>
                </tr>
                </tbody>
            </table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> phpCode_this_input_get_post</th>
				</tr>
				<tr>
					<td>{phpCode_this_input_get_post}</td>
				</tr>


				</tbody>
			</table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> phpCode_this_input_get_post2</th>
				</tr>
				<tr>
					<td>{phpCode_this_input_get_post2}</td>
				</tr>
				</tbody>
			</table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> phpCode_this_input_get_post3_1</th>
				</tr>
				<tr>
					<td>{phpCode_this_input_get_post3_1}</td>
				</tr>
				</tbody>
			</table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> phpCode_this_input_get_post3_2</th>
				</tr>
				<tr>
					<td>{phpCode_this_input_get_post3_2}</td>
				</tr>
				</tbody>
			</table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> phpCode_this_input_get_post4_1</th>
				</tr>
				<tr>
					<td>{phpCode_this_input_get_post4_1}</td>
				</tr>
				</tbody>
			</table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> phpCode_this_input_get_post4_2</th>
				</tr>
				<tr>
					<td>{phpCode_this_input_get_post4_2}</td>
				</tr>
				</tbody>
			</table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> phpCode_this_input_get_post4_3</th>
				</tr>
				<tr>
					<td>{phpCode_this_input_get_post4_3}</td>
				</tr>
				</tbody>
			</table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> phpCode_this_input_get_post4_4</th>
				</tr>
				<tr>
					<td>{phpCode_this_input_get_post4_4}</td>
				</tr>
				</tbody>
			</table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> phpCode_db_arr_data</th>
				</tr>
				<tr>
					<td>{phpCode_db_arr_data}</td>
				</tr>
				</tbody>
			</table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> phpCode_db_arr_data_view</th>
				</tr>
				<tr>
					<td>{phpCode_db_arr_data_view}</td>
				</tr>
				</tbody>
			</table>

			<br>

			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> phpCode_db_arr_data_view2</th>
				</tr>
				<tr>
					<td>{phpCode_db_arr_data_view2}</td>
				</tr>
				</tbody>
			</table>

			<br>


			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> phpCode_case</th>
				</tr>
				<tr>
					<td>{phpCase}</td>
				</tr>
				</tbody>
			</table>

			<br>


			<table class="yym_tbl" style="table-layout: fixed;">
				<tbody>
				<tr>
					<th> ci_sql_select</th>
				</tr>
				<tr>
					<td>{ci_sql_select}</td>
				</tr>
				</tbody>
			</table>

            <!--
            <table class="yym_tbl" style="table-layout: fixed;">
                <tbody>
                <tr>
                    <td style="border-right: 0px solid #cccccc;">
                        <button id="btn_add_employee" class="btn btn-primary"  style="height:100%;">AddEmployee</button>
                    </td>
                    <td style="border-left: 0px solid #cccccc; text-align: right;">
                        <button id="btn_go_list" class="btn btn-primary">Go List</button>
                        <button id="btn_go_modify" class="btn btn-primary">Go Modify</button>
                        <button id="btn_go_delete" class="btn btn-primary">Go delete</button>

                    </td>
                </tr>
                </tbody>
            </table>
            -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer"><!-- nothing --></div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->


</section>
<!-- /.content -->
<input type="hidden" id="url_go_add_employee"       value="{url_go_add_employee}" style="width:100%">

<input type="hidden" id="url_go_list"       value="{url_go_list}" style="width:100%">
<input type="hidden" id="url_go_modify"     value="{url_go_modify}" style="width:100%">
<input type="hidden" id="url_go_delete"     value="{url_go_delete}" style="width:100%">


<script>
    jQuery("button").bind(
        "click", function () {
            console.log("this.id => " + this.id);
            switch (this.id) {
                case "btn_add_employee":
                    window.location.href = jQuery("#url_go_add_employee").val();
                    break;

                case "btn_go_list":
                    window.location.href = jQuery("#url_go_list").val();
                    break;
                case "btn_go_modify":
                    window.location.href = jQuery("#url_go_modify").val();
                    break;
                case "btn_go_delete":
                    if (confirm("삭제한 데이타는 복구가 불가능합니다. \n\n삭제하시겠습니까...? "))
                    {
                        let targetUrl   =   jQuery("#url_go_delete").val();
                        let corp01_pk   =   jQuery("#corp01_pk").val();
                        console.log("submit url : " + targetUrl);
                        jQuery.ajax({
                            url: targetUrl,
                            type: "POST",
                            data: {
                                corp01_pk:corp01_pk
                            },
                            success: function (msg) {
                                let rtnJson = null;
                                try {
                                    rtnJson = jQuery.parseJSON(msg);
                                } catch (error) {
                                    rtnJson = msg;
                                }//   end try

                                console.log(msg);

                                if (rtnJson.SQL_Result == "SUCCESS")
                                {
                                    alert("Data Delete Success");
                                    window.location.href = jQuery("#url_go_list").val();
                                }// end if

                                if (rtnJson.SQL_Result == "FAIL") {
                                    alert("DB PROCESS ERROR : " + rtnJson.SQL_Error);
                                    location.reload();
                                }// end if
                            }
                        });
                    }//	end if

                    break;
            }//	end switch
        }
    )
    ;


</script>
