<!-- One -->
<section id="one">
	<div class="image main" data-position="center">
		<img src="images/banner.jpg" alt="" />
	</div>
	<div class="container">
		<header class="major">
			<h2>관광 상세 정보</h2>
		</header>
		<!--<p>병원 정보입니다. 검색이 추가될 예정 입니다. 병원 상세 페이지 예정 입니다.</p>-->
	</div>
</section>


<!-- Five -->

<section id="five">



	<div class="container">

		<h3>{tour_200_title}</h3>

		<section>
			<h4>기본정보</h4>
			<!--							<h5>Default</h5>-->
			<div class="table-wrapper">
				<table>
					<tbody>

					<tr>
						<td>이미지</td>
						<td><img src="{tour_image}"></td>
					</tr>

					<tr>
						<td>소개</td>
						<td>{tour_200_detailCommon_overview}</td>
					</tr>

<!--

					<tr>
						<td>연락처</td>
						<td><a href="tel:{tour_200_tel}">{tour_200_tel}</a></td>
					</tr>

-->

					<tr>
						<td>지도</td>
						<td><a href="{go_url_naver_map}" target="_blank" class="button primary small">네이버 지도 보기</a></td>
					</tr>

					<tr>
						<td>주소</td>
						<td>{tour_200_addr1}</td>
					</tr>


					</tbody>

				</table>
			</div>

		</section>



		<a href="{url_go_list}" class="button small">목록</a>

	</div>
</section>


<!-- 구글 광고 -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4386322349066500" crossorigin="anonymous"></script>
